## Deliverable 2. Create a Customer Travel Destinations Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
# from config import g_key ( problem with config file ???)
g_key = "AIzaSyCvOD8lIGP7wuikRcDgpF-mnpL9mUp0lGQ"

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [26]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,city ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sakaiminato,JP,11/1/2020,35.55,133.23,60.80,87,75,9.17
1,1,Coquimbo,CL,11/1/2020,-29.95,-71.34,55.40,82,75,12.75
2,2,Rikitea,PF,11/1/2020,-23.12,-134.97,74.62,85,86,22.84
3,3,Atuona,PF,11/1/2020,-9.80,-139.03,77.47,79,68,15.12
4,4,Khash,IR,11/1/2020,28.22,61.22,40.87,61,0,2.15

In [27]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
preferred_cities_temp_df.head()
preferred_cities_temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 3 to 705
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city ID     192 non-null    int64
 1   City        192 non-null    object
 2   Country     192 non-null    object
 3   Date        192 non-null    object
 4   Lat         192 non-null    float64
 5   Lng         192 non-null    float64
 6   Max Temp    192 non-null    float64
 7   Humidity    192 non-null    int64
 8   Cloudiness  192 non-null    int64
 9   Wind Speed  192 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 16.5+ KB

In [30]:
# 4a. Determine if there are any empty rows.
city_data_df=city_data_df.dropna()

In [31]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
city_data_df.count()

city ID       705
City          705
Country       705
Date          705
Lat           705
Lng           705
Max Temp      705
Humidity      705
Cloudiness    705
Wind Speed    705
dtype: int64

In [34]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = city_data_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0      Sakaiminato      JP     60.80  35.55  133.23
1         Coquimbo      CL     55.40 -29.95  -71.34
2          Rikitea      PF     74.62 -23.12 -134.97
3           Atuona      PF     77.47  -9.80 -139.03
4            Khash      IR     40.87  28.22   61.22
5      East London      ZA     65.43 -33.02   27.91
6           Barrow      US     28.40  71.29 -156.79
7  Bambous Virieux      MU     69.80 -20.34   57.76
8     General Roca      AR     89.60 -39.03  -67.58
9             Lata      PT     66.00  40.16   -8.33

In [42]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
# hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
for city, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    # locations = hotel_df[["Lat", "Lng"]]
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[city, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
print(hotel_df)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
             City Country  Max Temp    Lat     Lng  \
0     Sakaiminato      JP     60.80  35.55  133.23
1        Coquimbo      CL     55.40 -29.95  -71.34
2         Rikitea      PF     74.62 -23.12 -134.97
3          Atuona      PF     77.47  -9.80 -139.03
4           Khash      IR     40.87  28.22   61.22
..            ...     ...       ...    ...     ...
703  Barra Patuca      HN     79.79  15.80  -84.28
704      Lokosovo      RU     29.59  61.13   74.82
705        Curuca      BR     78.30  -0.73  -47.85
706  Fernan-Nunez      ES     57.20  37.69   -4.72
707           Ola      RU     30.06  59.58  151.28

                            Hotel Name
0                            味処・民宿 まつや
1                       Hotel San Juan
2                       Pension Maro'i
3                          Villa Enata
4    دفتر پیشخوان دولت جمال زهی (خالد)
..                                 ...
703
704
705                       Hotel Curuça
706      Francisco Jesús Pérez Serrano
707

[705 rows x 6 columns]

In [49]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()
#hotel_df.info()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sakaiminato,JP,60.80,35.55,133.23,味処・民宿 まつや
1,Coquimbo,CL,55.40,-29.95,-71.34,Hotel San Juan
2,Rikitea,PF,74.62,-23.12,-134.97,Pension Maro'i
3,Atuona,PF,77.47,-9.80,-139.03,Villa Enata
4,Khash,IR,40.87,28.22,61.22,دفتر پیشخوان دولت جمال زهی (خالد)

In [51]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [53]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [55]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
print(fig)

Figure(layout=FigureLayout(height='420px'))